data/
backend/node_modules/*
backend/files/*
backend/images/*
backend/.env
frontend/node_modules/*
frontend/src/artifacts/*
frontend/src/config.js
.vscode
**.DS_Store
.env
**/cache/*
backend/package-lock.json
frontend/package-lock.json
